{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Webhook Receiver</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>
            <tr>
              <th scope="row">Receiver group</th>
              <td>
                <a href="{{ object.receiver_group.get_absolute_url }}">{{ object.receiver_group }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">UUID</th>
              <td>{{ object.uuid }}</td>
            </tr>
            <tr>
              <th scope="row">Auth method</th>
              <td>{{ object.auth_method }}</td>
            </tr>
            <tr>
              <th scope="row">Auth header</th>
              <td>{{ object.auth_header }}</td>
            </tr>
            <tr>
              <th scope="row">Token</th>
              <td>{{ object.token|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Hash algotithm</th>
              <td>{{ object.hash_algorithm|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Secret Key</th>
              <td>{{ object.secret_key|placeholder }}</td>
            </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Webhook actions</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Store payload</th>
              <td>{{ object.store_payload|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Update datasource</th>
              <td>
                <a href="{{ object.datasource.get_absolute_url }}">{{ object.datasource|placeholder }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Run Custom Script</th>
              <td>{{ object.customscript|placeholder }}</td>
            </tr>
          </table>
      </div>
    <!-- </div> -->
    <!-- <div class="col col-md-6"> -->
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Webhook Receiver URL</h5>
        <table class="table">
          <tr>
            <td>{{request.headers.referer | split:"/" | slice:"5" | join:"/" }}/webhooks/{{ object.uuid}}/</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
